<nav>
  <div class="nav-wrapper center-align">
    <div class="row">
      <div class="col s12 no-padding">
        <a href="#/" class=" center"><img id="logo" src="images/logo.png"></a>
      </div>
      <div class="col s12 m6 offset-m4 no-padding center">
        <ul id="nav-mobile" class="black center">
          <li><a href="#info">INFO</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#2015">2015</a></li>
          <li><a href="#recover">RECOVER</a></li>
          <li><a href="#crew">CREW</a></li>
        </ul>
      </div>
    </div> 
  </div>
</nav>
<div class="row">
  <div class="col s12 center">
    <p class="white-text">Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours. You will get to observe the natural, yet absurd cycles of life close up.
    </p>
    <h3 class="white-text">Premiere in 25.8</h3>
    <p class="white-text">Labyrinth open between 26.8 - 25.9 <p>

  </div>

