  <nav>
    <div class="nav-wrapper center-align">
    <div class="row">
      <div class="col s12 no-padding">
        <a href="#/" class="center"><img class="logo-bg" src="images/logontaustajarkko.png" class="responsive-img"><img class="logo-front" src=
          "images/recoverlogojarkolle.png" class="responsive-img"></a>
    </div>
    <div class="col s12 m6 offset-m4 center">
      <ul id="nav-mobile" class="black center">
        <li><a href="#info">INFO</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#2015">2015</a></li>
        <li><a href="#friend">RECOVER</a></li>
        <li><a href="#crew">CREW</a></li>
      </ul>

    </div> 
    </div>
  </nav>
   <br>
  <br>
  <br>
  <!-- illusion -->

<filter ng-if="illusion" id='blur'>
    <fegaussianblur stddeviation='10'></fegaussianblur>
  </filter>
</svg>
<div class='h' ng-if="illusion">
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
</div>


<!--friend -->
<canvas ng-show="friend" id="canvas" style="position:fixed;top:0;left:0; z-index: -1;"></canvas>
<!-- snake -->
<div ng-if="snake" class="animated infinite pulse" id="snake"></div>

  <div class="container">

    <div class="row center">

      <div class="col s12 m4">
        <p class="white-text">Wanna give us a ring? How about this number then?</p>
        <a class="white-text" href="tel:+358408290866">+358408290866</a>

      </div>
      <div class="col s12 m4">
        <img class="responsive-img" src="images/reco.gif">
      </div>
      <div class="col s12 m4">
        <p class="white-text">Prefer the ease of email, enjoy with the address<p>
          <a href="mailto:recoverlaboratory@gmail.com" class="white-text">recoverlaboratory@gmail.com</a>

      </div>

    </div>
<footer class="">
  <img class="resposive-img" style="max-height:100px" src="images/kuva-hsy-valkoinen.png"> 
  <img class="resposive-img right" style="max-height:100px" src="images/liuku.png"> 
 </footer>