<div class="container">

    <div class="row center">

      <div class="col s4">
        <p class="white-text">Wanna give us a ring? How about this number then?</p>
        <a class="white-text" href="tel:+358408290866">+358408290866</a>

      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/reco.gif">
      </div>
      <div class="col s4">
        <p class="white-text">Prefer the ease of email, enjoy with the address<p>
          <a href="mailto:recoverlaboratory@gmail.com" class="white-text">recoverlaboratory@gmail.com</a>

      </div>

    </div>
