<div class="container">

    <div class="row center">

      <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>

            <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/crewgif.gif">
      </div>

    </div>
          