<nav>
  <div class="nav-wrapper center-align">
    <div class="row">
      <div class="col s12 no-padding">
        <a href="#/" class=" center"><img style="max-height:210px;" src=images/logorecover.jpg class="responsive-img"></a>
      </div>
      <div class="col s12 m6 offset-m4 no-padding center">
        <ul id="nav-mobile" class="black center">
          <li><a href="#info">INFO</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#2015">2015</a></li>
          <li><a href="#friend">RECOVER</a></li>
          <li><a href="#crew">CREW</a></li>
        </ul>
      </div>
    </div> 
  </div>
</nav>
   <!-- illusion -->

<filter ng-if="illusion" id='blur'>
    <fegaussianblur stddeviation='10'></fegaussianblur>
  </filter>
</svg>
<div class='h' ng-if="illusion">
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
</div>


<!--friend -->
<canvas ng-show="friend" id="canvas" style="position:fixed;top:0;left:0; z-index: -1;"></canvas>
<!-- snake -->
<div ng-if="snake" class="animated infinite pulse" id="snake"></div>
 
<div class="container">

    <div class="row center">
    <h2 class="white-text">CREW</h2>
      <div class="col s12 m3">
        <img class="responsive-img" src="images/mira.gif">
        <h4 class="white-text">Mira Sirkka</h4>

        <p class="white-text">I do circus. <br>It includes everything I’ve ever dreamt about. </p>
          
        <p class="white-text">I’m dreaming about worlds. These worlds are different than the one we are living in. My art is to create new places where to dive in, where to be open and vulnerable.</p>

        <p class="white-text">My art is about freedom. Freedom to choose the influences found from the worlds.</p>
          
        <p class="white-text">That’s why I make labyrinths.</p>
        <p class="white-text">Once I lost my sense of direction and found myself. I realized there is no right nor wrong ways.
        Labyrinths are performances including collaboration with different art fields. </p>

        <p class="white-text">Graduated from Turku University of Applied Sciences, performance art, circus department, 2015.</p> 
      </div>
      <div class="col s12 m3">
          <img class="responsive-img" src="images/sofi.gif"><br><br><br>
          <h4 class="white-text">Sofi Häkkinen</h4>
          <p class="white-text">I’m a contemporary artist and an event producer. I’m the artistic director for Recover Laboratory. I’m responsible for the visual image and visual universe of the happening.</p>

          <p class="white-text">In my work I explore and love different materials and medias. The process goes on and on,  layer by layer, until it slowly starts to make sense. Suddenly everything seems quite logical and simple. My work is layered and abundant, I draw my inspiration from trying to understand art and trying to force art to take a shape through an artistic process. This is how I want to portray this hulabaloo called life. It’s ingenious in its’ simplicity. </p>

          <p class="white-text">My medias are almost anything I can get my hands on or anything that the artwork I’m working on at the moment needs to be completed. So far I have mostly worked with painting, drawing, animation, video and sculpture. Recently my work has been shown in Tampere and in Berlin, and I have an exhibition coming up in Helsinki. In the field of event producing I’ve mainly focused on independent urban festivals and electornic music events. This is my second year as a part of the Recover Crew.</p>
      </div>
      <div class="col s12 m3">
        <img class="responsive-img" src="images/alina.gif"><br><br>
        <h4 class="white-text">Alina Pajula</h4>
        <p class="white-text">I'm in love with space and light. I'm interested in how the body, and we as complete human beings, are aware of changes in scale, darkness, brightness, sounds, materials and shapes of our surroundings. How the space we are in affects us and we affect the space.</p>
        
        <p class="white-text">I used to think my art doesn't have a theme or any underlying idea, but as I view it in retrospect I find out it kind of has. It's a manifestation of all and nothing, which I think is the essence of everything. Everything around us, even we ourselves, can be valued as all and nothing at the same time, and I believe that's where the panic of the Western society arises from. I love the thought. It drives me into a state of acceptance and gives me a feeling of ultimate freedom and ability.</p>
        
        <p class="white-text">In Recover Laboratory I'm dealing with my babies: space and light. Come to us, let's explore!</p>
      </div>
      <div class="col s12 m3">
          <img class="" style="max-height: 260px; right: 10em;position: relative;" src="images/anna.gif">
           <h4 class="white-text">Anna Björklund</h4>
           <p class="white-text">I explore my relationship with space and my own flesh. I make video installations that create spatial experiences or feelings of a new dimension.  I want to show the viewer something surprising. Even darker things might cheer you up. Besides video I work with photography.
          </p>
      </div>
      </div>
      <div class="row center">
         <h2 class="white-text">Performers</h2>
            <div class="col s12 m3">
              <img class="responsive-img" src="images/maiju.jpg"><br><br>
              <h4 class="white-text">Maiju Saarimaa:</h4>
              <p class="white-text">I’m a tight wire artist.
              I draw my inspiration from talented and intelligent people, strange fellows, senses. As a tight wire dancer I want to break rules of beauty and create and develop different a material of movement.
              In Recover Laboratory I’m playing with music, darkness, sound of iron and that mysterious moment of finding and losing balance.
              </p>
            </div>
            <div class="col s12 m3">
              <img class="responsive-img" src="images/miikka.jpg"><br><br>
              <h4 class="white-text">Miikka Kauppinen</h4>
              <p class="white-text">I’m a sound designer. 
              New experiences derive from experiments. And what would life be without exploring the possibilities and chances given? I work with music and soundscapes with unconventional methods and the music I make is always somewhat a surprise to me as well. Visions start from experiments and experiments create visions. One must know the rules in order to break them.</p>
            </div>
            <div class="col s12 m3">
              <img class="responsive-img" src="images/hedda.png"><br><br>
              <h4 class="white-text">Hedda Liukkala</h4>
              <p class="white-text">Hedda is a cyr wheel artist from Finland who is currently living in Brussels, Belgium, where she is starting her last year of studies in École Supérieure des Arts du Cirque. In Recover Laboratory Hedda will be seen using the many possibilities of the wheel and finding different ways of being ugly and repulsive. She likes sunshine, trolls, weirdness and mysteries. Staying in one place makes her nervous (physically and in life). '</p>
            </div>
            <div class="col s12 m3">
              <img class="responsive-img" src="images/jenny.jpg"><br><br>
              <h4 class="white-text">Jenny Mansikkasalo</h4>
              <p class="white-text">My main discipline in circus is aerial silks and I'm doing aerial acrobatics in Recover Laboratory as well. I do what I do because it teaches me about myself and the reasons why I do what I do</p>
            </div>
            </div>
              <div class="row center">
                <div class="col s12 m3">
                  <img class="responsive-img" src="images/ilkka.jpg"><br><br>
                  <h4 class="white-text">Ilkka Virkkunen</h4>
                  <p class="white-text">I am Ilkka. At times I climb a rope. At times I ponder how people work.<br>
                    Or don't. Especially myself, <br>
                    yeah,<br>
                    and sometimes I look at myself in the mirror and get dazzled at how beautiful I am or something.</p>
                </div>
                <div class="col s12 m3">
                  <img class="responsive-img" src="images/anna-mari.png"><br><br>
                  <h4 class="white-text">Anna-Mari Nousiainen</h4>
                  <p class="white-text">I balance between delightful and disgusting. Creamy pastels turn into lime, falling teeth are in fact crystals, sweet girls paint their faces with blood. Human behaviour is raw, cruel and wild, yet caring and honest. I’m drawn to the deep dark woods and yearn to find our inner monsters. I try to drive out the hidden to visible, find the real human nature. Small towns, bored babes and vast fields shape the way I see the world.
                  </p>
                  <p class="white-text">
                  Everything is association. Dreams, warped memories and actual happenings blend into one – lines blur and dreams shift into reality. Every memory is as important, whether it’s true or false.</p>
                </div>
              </div>
    </div>
