<div class="container">

    <div class="row center">

      <div class="col s4">
        <img class="responsive-img" src="images/mira.gif">
        <p>I do circus.
          It includes everything I’ve ever dreamt about. </p>
                    
          <p>I’m dreaming about worlds. These worlds are different than the one we are living in. My art is to create new places where to dive in, where to be open and vulnerable. </p>   
                            
          <p>My art is about freedom. Freedom to choose the influences found from the worlds.</p>
                    
          <p>That’s why I make labyrinths.
          Once I lost my sense of direction and found myself. I realized there is no right nor wrong ways.
           Labyrinths are performances including collaboration with different art fields. </p>

          <p>Graduated from Turku University of Applied Sciences, performance art, circus department, 2015. 
          </p>
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/sofi.gif">
      </div>
      <div class="col s4">
        <img class="responsive-img" src="images/reco.gif">
      </div>

    </div>
          