  <nav>
    <div class="nav-wrapper center-align">
    <div class="row">
      <div class="col s12 no-padding">
        <a href="#/" class=" center">RECOVER LABORATORY</a>
    </div>
    <div class="col s12 m6 offset-m4 no-padding center">
      <ul id="nav-mobile" class="black center">
        <li><a href="#info">INFO</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#2015">2015</a></li>
        <li><a href="#friend">RECOVER</a></li>
        <li><a href="#crew">CREW</a></li>
      </ul>

    </div> 
    </div>
  </nav>
<!-- me -->
<div ng-show="me">
<figure></figure>
<canvas id="eye-l" width="800" height="668"></canvas>

<canvas id="eye-r" width="800" height="668"></canvas>
<div class="row">
      <div class="col s12 m10 offset-m1">
        <p class="center white-text">We are a group of artists from different fields of art: circus, fine art, music, light and other medias. We build experimental labyrinths. Our performances combine all these art forms, creating worlds that compete with 3D-movies and video games.</p>

        <p class="center white-text">Our work contemplates personal freedom and an individual’s choices. In the labyrinth, the viewer is lost in time, space and dimension and in their head. The goal is to trigger emotions and thoughts, and also to fade out the ”fourth wall” between the performer and the viewer, by bringing them together on the same level, able to make contact if the viewer so desires.</p>

        <p class="center white-text">We aim to give the viewer the ultimate experience of performance art. The audience gets absorbed in the surreal world of the human psyche one by one, as they enter the labyrinth alone. We are interested in individuals inside groups. Can peoples’ reactions and choices be affected through art?</p>

        <p class="center white-text">Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours. You will get to observe the natural, yet absurd cycles of life close up.</p>
      </div>
        <div class="col s12 m10 offset-m1">
          <br><br>
          <div class="video-container responsive-video">
            <iframe src="https://player.vimeo.com/video/161487821" width="640" height="470" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
     </div>
<canvas id="mouth" width="800" height="668"></canvas>
 <div class="row center">
        <div class="col s4 offset-s4">
  <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//recoverlaboratory.us13.list-manage.com/subscribe/post?u=7a6c7100a0c0bfa507512184d&amp;id=859da25967" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Let us slide in your inbox</label>
        <input type="email" value="" name="EMAIL" class="email center" id="mce-EMAIL" placeholder="leave your email for us" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a6c7100a0c0bfa507512184d_859da25967" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
      </form>
      </div>
    </div>
  </div>
  </div>


<!-- illusion -->

<filter ng-if="illusion" id='blur'>
    <fegaussianblur stddeviation='10'></fegaussianblur>
  </filter>
</svg>
<div class='h' ng-if="illusion">
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
</div>

<!--friend -->
<canvas ng-show="friend" id="canvas" style="position:fixed;top:0;left:0; z-index: -1;"></canvas>
<!-- snake -->
<div ng-if="snake" class="animated infinite pulse" id="snake"></div>

 <!-- Info set -->
  <div id="info" >
      <div class="row center  hide-on-med-and-up" ng-show="snake">
            <div class="col s12">
            <h5>
             <p class="teal-text snakes-fi ">Neljä käärmettä liukuu</p>
             <p class="orange-text snakes-en">Four snakes sliding in a pit </p>

             <p class="teal-text snakes-fi">liukuu kuopassa</p>
             <p  class="orange-text snakes-en">not to eat </p>

             <p class="teal-text snakes-fi">ei syödäkseen</p>
             <p class="orange-text snakes-en">not to love </p>

              <p class="teal-text snakes-fi">but only to</p>
              <p class="orange-text snakes-en">ei rakastaakseen</p>

             <p class="teal-text snakes-fi">vaan vain</p>
             <p class="green-text snakes-en">slither</p>

              <p class="teal-text snakes-fi">liukuakseen</p>

             </h5>
          </div> 
</div>
 <div class="animation-container  hide-on-small-only" ng-show="snake">
        <div class="text-container  hide-on-small-only">
            <div id="perspective-box" class="hide-on-small-only">
                <div class="blur-hed" id="blur-text">Neljä käärmettä</div>
                <div class="blur-hed2" id="blur-text0">Four snakes sliding in a pit</div>
                <div class="blur-dek" id="blur-text1">liukuu kuopassa</div>
                <div class="blur-dek" id="blur-text2">not to eat</div>
                <div class="blur-dek" id="blur-text3">ei syödäkseen</div>
                <div class="blur-dek" id="blur-text4"> not to love</div>
                <div class="blur-byline" id="blur-text5">ei rakastakseen</div>
                <div class="blur-byline2" id="blur-text6">but only to</div>
                <div class="blur-byline3" id="blur-text7">vaan vain</div>
                <div class="blur-byline4" id="blur-text8">slither</div>
                <div class="blur-byline5" id="blur-text9">liukuakseen</div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m10 offset-m1"><br>
           <p class="center white-text">We are a group of artists from different fields of art: circus, fine art, music, light and other medias. We build experimental labyrinths. Our performances combine all these art forms, creating worlds that compete with 3D-movies and video games.</p>

          <p class="center white-text">Our work contemplates personal freedom and an individual’s choices. In the labyrinth, the viewer is lost in time, space and dimension and in their head. The goal is to trigger emotions and thoughts, and also to fade out the ”fourth wall” between the performer and the viewer, by bringing them together on the same level, able to make contact if the viewer so desires.</p>

          <p class="center white-text">We aim to give the viewer the ultimate experience of performance art. The audience gets absorbed in the surreal world of the human psyche one by one, as they enter the labyrinth alone. We are interested in individuals inside groups. Can peoples’ reactions and choices be affected through art?</p>

          <p class="center white-text">Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours. You will get to observe the natural, yet absurd cycles of life close up.</p>
          </div>
        <div class="col s12 m10 offset-m1">
        <br><br>
          <div class="video-container responsive-video">
            <iframe src="https://player.vimeo.com/video/161487821" width="640" height="470" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
     </div>
      <div class="row center">
        <div class="col s4 offset-s4">
  <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//recoverlaboratory.us13.list-manage.com/subscribe/post?u=7a6c7100a0c0bfa507512184d&amp;id=859da25967" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Let us slide in your inbox</label>
        <input type="email" value="" name="EMAIL" class="email center" id="mce-EMAIL" placeholder="leave your email for us" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a6c7100a0c0bfa507512184d_859da25967" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
      </form>
      </div>
    </div>
  </div>




        


