  <nav>
    <div class="nav-wrapper center-align">
    <div class="row">
      <div class="col s12 no-padding">
        <a href="#/" class=" center"><img style="position:relative;top:2em;left:0;max-height:150px;" src=images/logontaustajarkko.png class="responsive-img"><img style="position:absolute;top:2em;left:25%;max-height:150px;" src=images/recoverlogojarkolle.png class="responsive-img"></a>
    </div>
    <div class="col s12 m6 offset-m4 no-padding center">
      <ul id="nav-mobile" class="black center">
        <li><a href="#info">INFO</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#2015">2015</a></li>
        <li><a href="#friend">RECOVER</a></li>
        <li><a href="#crew">CREW</a></li>
      </ul>

    </div> 
    </div>
  </nav>
<filter id='blur'>
    <fegaussianblur stddeviation='10'></fegaussianblur>
  </filter>
</svg>
<div class='h'>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
  <div class='c'></div>
</div>

 <!-- Info set -->
  <div id="info" >
      <div class="row center">
            <div class="col s12">
            </div> 
            <div class="col s12 m10 offset-m1">
              <p class="pink-text">Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours.</p>

              <p class="center white-text">Experiential circus arts production, a labyrinth under the ground.</p>
              <p class="center white-text">Premiere in August 2016</p>
              <p class="center white-text">Dates coming soon</p>
            </div>
            <br><br>
            <div class="col s12 m10 offset-m1">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/161487821" width="640" height="470" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
         </div>
      
      </div>
      <div class="row center">
        <div class="col s4 offset-s4">
  <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//recoverlaboratory.us13.list-manage.com/subscribe/post?u=7a6c7100a0c0bfa507512184d&amp;id=859da25967" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Let us slide in your inbox</label>
        <input type="email" value="" name="EMAIL" class="email center" id="mce-EMAIL" placeholder="leave your email for us" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a6c7100a0c0bfa507512184d_859da25967" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
      </form>
      </div>
    </div>
  </div>

<footer class="">
  <img class="resposive-img" style="max-height:100px" src="images/kuva-hsy-valkoinen.png"> 
  <img class="resposive-img right" style="max-height:100px" src="images/liuku.png"> 
 </footer>
