   <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <br><br>
<!-- first set -->


        <div id="first-questions" ng-show="friend === false && snake === false && me === false">
          <button class="btn whoareyou"><typer words="['Who are you?']" start-delay="1000" type-time='150' repeat="false" start-typing="true" ></typer>
          </button>
              <div class="row">

                  <div class="col s4">
                      <button class="btn friend" ng-click="iAmAFriend();">
                        <typer words="['A Friend?']" start-delay="2000" type-time='150' repeat="false" start-typing="true" >
                      </button>
                  </div>
                  <div class="col s4">
                      <button class="btn snake" ng-click="snake=true;">
                        <typer words="['A Snake?']" start-delay="3500" type-time='150' repeat="false" start-typing="true" >
                      </button>
                  </div>
                  <div class="col s4">
                     <button class="btn me" ng-click="me=true;">
                        <typer words="['Me?']" start-delay="5000" type-time='150' repeat="false" start-typing="true" >
                     </button>
                  </div>
                </div>
          
          <br>
        </div>
<canvas id="canvas" style="position:fixed; top:0;left:0"></canvas>
 <!-- Info set -->
  <div id="info" ng-show="friend === true || snake === true || me === true">
            <div class="row center">
              <p>Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours.</p>
            </div> 
            <br>
            <p class="center">Experiential circus arts production, a labyrinth under the ground.</p>
            <p class="center">Premiere in August 2016</p>
            <p class="center">Dates coming soon</p>

          <div class="video-container">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HFWauI6FGO8" frameborder="0" allowfullscreen></iframe>
          </div>
         </div>
      
      </div>
    </div>
  </div>




 