<video autoplay class="responsive-video" loop>
  <source src="video/comingSoon.m4v" type="video/mp4">
  <source src="video/comingSoon.ogg" type="video/ogg">
  <source src="video/comingSoon.webm" type="video/webm">
  Your browser does not support the <code>video</code> element.
</video>
   <div class="section no-pad-bot">
        <br><br>
<!-- first set -->
<div class="row center">
<br>
<br>
  <div class="col s4 offset-s4">
  <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//recoverlaboratory.us13.list-manage.com/subscribe/post?u=7a6c7100a0c0bfa507512184d&amp;id=859da25967" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Let us slide in your inbox</label>
        <input type="email" value="" name="EMAIL" class="email center" id="mce-EMAIL" placeholder="leave your email for us" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a6c7100a0c0bfa507512184d_859da25967" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
      </form>
</div>
<!--End mc_embed_signup-->
     <!--   <div id="first-questions" ng-show="friend === false && snake === false && me === false">
          <button class="btn whoareyou"><typer words="['Who are you?']" cursor="_" start-delay="1000" type-time='150' repeat="false" start-typing="true" ></typer>
          </button>
              <div class="row">

                  <div class="col s4">
                      <button class="btn dark friend" ng-click="iAmAFriend();">
                        <typer words="['A Friend?']" cursor="_" start-delay="3000" type-time='150' repeat="false" start-typing="true" ></typer>
                      </button>
                  </div>
                  <div class="col s4">
                      <button class="btn dark snake" ng-click="snake=true;">
                        <typer words="['A Snake?']" cursor="_" start-delay="4500" type-time='150' repeat="false" start-typing="true" ></typer>
                      </button>
                  </div>
                  <div class="col s4">
                     <button class="btn dark me" ng-click="me=true;">
                        <typer words="['Me?']" cursor="_" start-delay="6000" type-time='150' repeat="false" start-typing="true" ></typer>
                     </button>
                  </div>
                </div> -->
          <br><br><br>
        </div>
    </div>
  </div>  
<canvas id="canvas" style="position:fixed; top:0;left:0"></canvas>
 <!-- Info set -->
  <div id="info" ng-show="friend === true || snake === true || me === true">
      <div class="row center">
            <div class="col s12">

             <typer ng-if="friend === true" words="['Nice I like friends...']" cursor="_" start-delay="300" type-time='150' repeat="false" start-typing="true" >

              <p>Here the freedom is yours and you are in charge of your experience. You may gain new ways of thinking, begin to question things and detach yourself from the mundane. In the labyrinth you will face the world alone and the choices are yours.</p>
            </div> 
            <div class="col s12">
              <p class="center">Experiential circus arts production, a labyrinth under the ground.</p>
              <p class="center">Premiere in August 2016</p>
              <p class="center">Dates coming soon</p>
            </div>
            <div class="col s12">
              <div class="video-container">
               <iframe src="https://player.vimeo.com/video/161487821" width="500" height="367" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
         </div>
      
      </div>
    </div>
  </div>




 