   <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <br><br>
<!-- first set -->


        <div id="first-questions" ng-show="friend === false && snake === false && me === false">
          <button class="btn whoareyou"><typer words="['Who are you?']" start-delay="1000" type-time='150' repeat="false" start-typing="true" ></typer>
          </button>
              <div class="row">

                  <div class="col s4">
                      <button class="btn friend" ng-click="friend=true;">
                        <typer words="['A Friend?']" start-delay="2000" type-time='150' repeat="false" start-typing="true" >
                      </button>
                  </div>
                  <div class="col s4">
                      <button class="btn snake" ng-click="snake=true;">
                        <typer words="['A Snake?']" start-delay="3500" type-time='150' repeat="false" start-typing="true" >
                      </button>
                  </div>
                  <div class="col s4">
                     <button class="btn me" ng-click="me=true;">
                        <typer words="['Me?']" start-delay="5000" type-time='150' repeat="false" start-typing="true" >
                     </button>
                  </div>
                </div>
          
          <br>
        </div>

 <!-- Info set -->
  <div id="info" ng-show="friend === true || snake === true || me === true">
            <div class="row center">
              <p>Infotastic</p>
            </div> 
            <br>
          </div>



      </div>
    </div>
  </div>




 