 <div class="animation-container clearfix">
        <div class="text-container clearfix">
            <div id="perspective-box">
                <div class="blur-hed" id="blur-text">Neljä käärmettä</div>
                <div class="blur-hed2" id="blur-text0">Four snakes sliding in a pit</div>
                <div class="blur-dek" id="blur-text1">liukuu kuopassa</div>
                <div class="blur-dek" id="blur-text2">not to eat</div>
                <div class="blur-dek" id="blur-text3">ei syödäkseen</div>
                <div class="blur-dek" id="blur-text4"> not to love</div>
                <div class="blur-byline" id="blur-text5">ei rakastakseen</div>
                <div class="blur-byline2" id="blur-text6">but only to</div>
                <div class="blur-byline3" id="blur-text7">vaan vain</div>
                <div class="blur-byline4" id="blur-text8">slither</div>
                <div class="blur-byline5" id="blur-text9">liukuakseen</div>
            </div>
        </div>
    </div>


        